/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.08.2016, 13:53:34
    Author     : Max
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.08.2016, 14:39:49
    Author     : Max
*/
.container {
  background: grey;
  background-size: cover;
  width: 100%;
  padding-top: 30px; }
  .container__intro {
    width: 100%; }
  .container__aboutme {
    width: 100%;
    font-family: "Raleway", sans-serif;
    color: #ffffff; }

.intro {
  background: #ffffff;
  height: 70px;
  width: 1000px;
  margin: auto; }

.aboutme {
  height: 500px;
  width: 1000px;
  margin: auto; }
  .aboutme__section_l {
    float: left;
    width: 65%; }
  .aboutme__section_r {
    float: left; }

.section__title {
  margin-bottom: 17px;
  padding-top: 50px;
  font-size: 35px;
  line-height: 40px; }
.section__par {
  font-size: 19px;
  line-height: 32px;
  max-width: 80%;
  padding-bottom: 40px; }
.section__contacts {
  float: left;
  width: 50%;
  font-size: 15px; }
  .section__contacts a {
    color: #ffffff;
    display: inline-block;
    padding: 2px 20px 0px 10px; }
  .section__contacts a:hover {
    color: #c9302c; }
.section__help {
  width: 50%;
  float: left; }
.section__img {
  border-radius: 200px;
  margin-top: 60px; }

.logo {
  float: left;
  background: #eeeff4;
  height: 70px; }

.title, .title__middle-text {
  display: inline-block;
  font-size: 30px;
  color: #2c3e50;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  line-height: 70px;
  padding: 0px 20px; }
  .title__middle-text {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #526c86;
    font-weight: 300; }
  .title_section {
    font-size: 40px;
    margin-bottom: 20px; }

.navbar {
  float: right;
  text-transform: uppercase;
  height: 70px;
  border: 0px solid transparent; }
  .navbar__link {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 20px;
    display: inline-block;
    line-height: 80px;
    height: 70px; }
    .navbar__link_itm {
      background: #d9534f;
      color: #ffffff !important;
      text-decoration: none;
      border: 1px solid #d9534f; }
    .navbar__link_itm:active {
      text-decoration: none;
      outline: none;
      border: 1px solid white; }
    .navbar__link_itm:focus {
      text-decoration: none;
      outline: none; }
    .navbar__link_itm:hover {
      background: #c9302c;
      color: #ffffff !important;
      text-decoration: none;
      outline: none; }
  .navbar__link:hover {
    color: #c9302c; }

/* For medium-sized devices ( smart ) */
@media (max-width: 1100px) {
  .intro {
    width: 850px; }

  .aboutme {
    width: 850px;
    min-height: 700px; }

  .navbar__link {
    padding: 0px 10px; }

  .section__contacts {
    font-size: 18px; } }
@media (max-width: 750px) {
  .intro {
    width: 850px; }

  .aboutme {
    width: 850px;
    min-height: 700px; }

  .navbar__link {
    padding: 0px 10px; }

  .section__contacts {
    font-size: 18px; } }
.contacts__help {
  font-size: 20px;
  padding: 10px 30px 10px 30px; }
.contacts__tel:before {
  content: "Telephone: ";
  color: black; }
.contacts__skype:before {
  content: "Skype: ";
  color: black; }
.contacts__mail:before {
  content: "Email: ";
  color: black; }

/*# sourceMappingURL=container.css.map */
