/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.08.2016, 13:53:34
    Author     : Max
*/

@import '_colors';

.container{
    background: grey;
    background-size:cover;
    width: 100%;
    padding-top: 30px;
    &__intro {
        width: 100%;
    }
    &__aboutme {
        width: 100%;
        font-family: "Raleway", sans-serif;
        color: #ffffff;
    }
}
.intro {
    background: #ffffff;
    height: 70px;
    width: 1000px;
    margin: auto;
}
.aboutme {
    height: 500px;
    width: 1000px;
    margin: auto;
    &__section {
        &_l {
            float: left;
            width: 65%; 
        }
        &_r {
            float: left;
        }
    }
}
.section {
    &__title {
        margin-bottom: 17px;
        padding-top: 50px;
        font-size: 35px;
        line-height: 40px;
    }
    &__par {
        font-size: 19px;
        line-height: 32px;
        max-width: 80%;
        padding-bottom: 40px;
    }
    &__contacts {
        float: left;
        width: 50%;
        font-size: 15px;
        a {
            color: #ffffff;
            display: inline-block;
            padding: 2px 20px 0px 10px;
        }
        a:hover {
            color: #c9302c;
        }
    }
    &__help {
        width: 50%;
        float: left;
    }
    &__img {
        border-radius: 200px;
        margin-top: 60px;
    }
}
.logo {
    float: left;
    background: #eeeff4;
    height: 70px;
}
.title {
    display: inline-block;
    font-size: 30px;
    color: $main-txt-clr;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal; 
    line-height: 70px;
    padding: 0px 20px;
    &__middle-text {
        @extend .title;
        font-family: 'Arial', sans-serif;
        font-size: 18px; 
        color: #526c86;
        font-weight: 300; 
    }
    &_section {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.navbar {
    float: right;
    text-transform: uppercase;
    height: 70px;
    border: 0px solid transparent;
    &__link {
        color: #2c3e50;
        font-family: 'Arial', sans-serif;
        font-size: 14px; 
        font-weight: 600;
        padding: 0px 20px;
        display: inline-block;
        line-height: 80px;
        height: 70px;
        &_itm {
            background: #d9534f;
            color: #ffffff !important;
            text-decoration: none;
            border: 1px solid #d9534f;
        }
        &_itm:active {
            text-decoration: none;
            outline: none;
            border: 1px solid white;
        }
        &_itm:focus{
            text-decoration: none;
            outline: none;
        }
        &_itm:hover {
            background: #c9302c;
            color: #ffffff !important;
            text-decoration: none;
            outline: none;
        }
    }
    &__link:hover {
        color: #c9302c;
    }
}
/* For medium-sized devices ( smart ) */
@media (max-width: 1100px) {
    .intro {
        width: 850px;
    }
    .aboutme {
        width: 850px;
        min-height: 700px;
    }
    .navbar {
        &__link {
            padding: 0px 10px;  
        }
    }
    .section {
        &__contacts {
            font-size: 18px;
        }
    }
}
@media (max-width: 750px) {
    .intro {
        width: 850px;
    }
    .aboutme {
        width: 850px;
        min-height: 700px;
    }
    .navbar {
        &__link {
            padding: 0px 10px;  
        }
    }
    .section {
        &__contacts {
            font-size: 18px;
        }
    }    
}
.contacts {
    &__help {
        font-size: 20px;
        padding: 10px 30px 10px 30px;
    }
    &__tel:before {
        content: "Telephone: ";
        color: black;
    }
    &__skype:before {
        content: "Skype: ";
        color: black;
    }
    &__mail:before {
        content: "Email: ";
        color: black;
    }
}

