/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.08.2016, 18:19:25

    Author     : Max
*/

@import '_mixin';
@import '_colors';

.text-center {
    text-align: center;
}
.banner-text{
    margin: 15% auto;
    width: 550px;
    height: auto;
}
.list__category {
    cursor: pointer;
    color: white;
    font: 19px 'Arial', sans-serif;    
}
.article {
    width: 100%;
    background: #eeeff4;
    float: left;
    &__title {
        text-align: center;
        hr {
            height: 4px;
            width: 90px;
            text-align: center;
            position: relative;
            background: #E87E04;
            margin: 0 auto;
            margin-bottom: 30px;
            border: 0;
        }
    }
    &__skills {
        margin: auto;
        width: 700px;
        text-align: center;
    }
}
.img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.skill{
    &__title {
        color: grey;
    }
}
