/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.08.2016, 18:19:25

    Author     : Max
*/

@import '_mixin';
@import '_colors';

.text-center {
    text-align: center;
}
.banner-text{
    margin: 15% auto;
    width: 550px;
    height: auto;
}
.list__category {
    cursor: pointer;
    color: white;
    font: 19px 'Arial', sans-serif;    
}
.article {
    width: 100%;
    padding: 20px;
    &__title {
        text-align: center;
        hr {
            height: 2px;
            width: 200px;
            text-align: center;
            position: relative;
            background: #fa5504;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    &__skills {
        margin: auto;
        width: 700px;
        text-align: center;
    }
    &__job {
        margin: auto;
        width: 550px;
    }
    &__get-job {
        margin: auto;
        width: 550px;
        text-align: center;
        padding: 30px;
    }
}
.get-job {
    &__img {
        padding: 30px;
    }
    &__btn-warning {
        margin-left: 40px;
    }
}
#job {
    background: #eeeff4;
    }
.img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.skill{
    &__title {
        color: #3f3f3e;
    }
}
.job {
    &__title {
        display: inline-block;
        color: #393939;
        font: 23px 'Arial', sans-serif; 
        &_get-job {
        color: black;
        font: 23px 'Arial', sans-serif; 
        margin-bottom: 30px;
        }
    }
}
footer {
    width: 100%;
    text-align: center;
}
.footer {
    &__contacts {
        width: 100%;
        background: #3c3c3c;
        font: 23px 'Arial', sans-serif;
        a {
            color: #ffffff;
            line-height:150px;
            padding: 20px;
        }
        a:hover {
            color: #f9995a;
        }
    }
    &__charter {
        padding: 20px;
        margin: auto;
        font: 18px 'Arial', sans-serif;
    }
}
